<a href="https://colab.research.google.com/github/nurulalyh/TugasKB_SVM_Wine/blob/main/SVM_Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Persiapan : Import Library**

In [54]:
import pandas as pd 
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import warnings

In [55]:
warnings.filterwarnings('ignore')

In [56]:
test_size = 0.2

#**Red Wine**

In [57]:
# Red Wine
datasetR = pd.read_csv('winequality-red.csv', sep=';')
# print (datasetR)

In [58]:
lb = LabelEncoder()
datasetR['density'] = lb.fit_transform(datasetR['density'])
datasetR

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,342,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,271,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,287,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,354,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,342,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,119,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,135,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,185,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,164,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,165,3.39,0.66,11.0,6

In [59]:
datasetR.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.600,7.10,7.900,9.20,15.900
volatile acidity,1599.0,0.527821,0.179060,0.120,0.39,0.520,0.64,1.580
citric acid,1599.0,0.270976,0.194801,0.000,0.09,0.260,0.42,1.000
residual sugar,1599.0,2.538806,1.409928,0.900,1.90,2.200,2.60,15.500
chlorides,1599.0,0.087467,0.047065,0.012,0.07,0.079,0.09,0.611
free sulfur dioxide,1599.0,15.874922,10.460157,1.000,7.00,14.000,21.00,72.000
total sulfur dioxide,1599.0,46.467792,32.895324,6.000,22.00,38.000,62.00,289.000
density,1599.0,254.487805,109.518155,0.000,175.00,267.000,344.50,435.000
pH,1599.0,3.311113,0.154386,2.740,3.21,3.310,3.40,4.010
sulphates,1599.0,0.658149,0.169507,0.330,0.55,0.620,0.73,2.000
alcohol,1599.0,10.422983,1.065668,8.400,9.50,10.200,11.10,14.900
quality,1599.0,5.636023,0.807569,3.000,5.00,6.000,6.00,8.000

In [60]:
X = datasetR.iloc[:, :11]
Y = datasetR.iloc[:, 11:]

In [61]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, shuffle=False)

In [62]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [63]:
model = SVC(kernel='linear')
model.fit(x_train, y_train.values.ravel())
predict = model.predict(x_test)

In [64]:
print('\n-RED WINE')
print(' accuracy: ', round((accuracy_score(predict, y_test)*100), 2), '%')
print('\n', classification_report(y_test, predict))

-RED WINE
 accuracy:  62.19 %

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         5
           4       0.00      0.00      0.00        11
           5       0.68      0.69      0.68       143
           6       0.61      0.68      0.65       136
           7       0.42      0.36      0.39        22
           8       0.00      0.00      0.00         3

    accuracy                           0.62       320
   macro avg       0.28      0.29      0.29       320
weighted avg       0.59      0.62      0.61       320

#**White Wine**

In [65]:
# White Wine
datasetW = pd.read_csv('winequality-white.csv', sep=';')

In [66]:
lb = LabelEncoder()
datasetW['density'] = lb.fit_transform(datasetW['density'])
datasetW

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,878,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,471,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,560,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,601,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,601,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,224,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,544,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,347,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,29,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,74,3.26,0.32,11.8,6

In [67]:
datasetW.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,4898.0,6.854788,0.843868,3.800,6.300,6.800,7.30,14.200
volatile acidity,4898.0,0.278241,0.100795,0.080,0.210,0.260,0.32,1.100
citric acid,4898.0,0.334192,0.121020,0.000,0.270,0.320,0.39,1.660
residual sugar,4898.0,6.391415,5.072058,0.600,1.700,5.200,9.90,65.800
chlorides,4898.0,0.045772,0.021848,0.009,0.036,0.043,0.05,0.346
free sulfur dioxide,4898.0,35.308085,17.007137,2.000,23.000,34.000,46.00,289.000
total sulfur dioxide,4898.0,138.360657,42.498065,9.000,108.000,134.000,167.00,440.000
density,4898.0,457.364230,226.199584,0.000,276.250,448.000,641.00,889.000
pH,4898.0,3.188267,0.151001,2.720,3.090,3.180,3.28,3.820
sulphates,4898.0,0.489847,0.114126,0.220,0.410,0.470,0.55,1.080
alcohol,4898.0,10.514267,1.230621,8.000,9.500,10.400,11.40,14.200
quality,4898.0,5.877909,0.885639,3.000,5.000,6.000,6.00,9.000

In [68]:
X = datasetW.iloc[:, :11]
Y = datasetW.iloc[:, 11:]

In [69]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, shuffle=False)

In [70]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [71]:
model = SVC(kernel='linear')
model.fit(x_train, y_train.values.ravel())
predict = model.predict(x_test)

In [72]:
print('\n-WHITE WINE')
print(' accuracy: ', round((accuracy_score(predict, y_test)*100), 2), '%')
print('\n', classification_report(y_test, predict))

-WHITE WINE
 accuracy:  59.59 %

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         1
           4       0.00      0.00      0.00        25
           5       0.55      0.58      0.57       266
           6       0.61      0.83      0.71       517
           7       0.00      0.00      0.00       151
           8       0.00      0.00      0.00        20

    accuracy                           0.60       980
   macro avg       0.19      0.24      0.21       980
weighted avg       0.47      0.60      0.53       980